{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<h4>LISTADO DE MATERIALES</h4>
<br>

<div class="box">

<table class="table table-bordered">
	<thead>
		
			<tr>
				<td>Nro</td>
				<td>Código</td>
				<td>Descripcion</td>
				<td>Id_tipo</td>
				<td>Activo</td>
				<td>Acciones</td>
			</tr>
			
	</thead>
	<tbody>
		<!-- #Materiales es el modelo 
			 #materiales_qset es el array de objetos
			 #materiales es el contexto -->

		{% if object_list %}
		{% for materiales_qset in object_list %}
		<tr>
		<td>{{ materiales_qset.id }}</td>
		<td>{{ materiales_qset.codigo }}</td>
		<td>{{ materiales_qset.descripcion }}</td>
		<td>{{ materiales_qset.id_tipo }}</td>
		<td>{{ materiales_qset.activo }}</td>
		
		
		<td>
			<a class="btn btn-primary btn-sm" href="{% url 'url_m_edit' materiales_qset.id %}">Editar</a>
			
		</td>
		</tr>
		{% endfor %}
		<div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; primera</a>
                    <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
                {% endif %}
            </span>
        </div>
		{% else %}
		<h5>No hay registros para mostrar</h5>
		{% endif %}
	</tbody>
</table>
</div>

{% endblock %}