<!DOCTYPE html>

<html>


<head>
<title>Iniciar sesion --- ALQUILERES APP</title>	
</head>	
<body>
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Alquileres APP</h2>

  <form class="login-container" method="post" action="">
  	{% csrf_token %}
    <p><input type="text" placeholder="Usuario" name="username"></p>
    <p><input type="password" placeholder="Password" name="password"></p>
    <p><input type="submit" value="Ingresar"></p>
  </form>
</div>
</body>
</html>